@using IncomeTaxCalc.MVC.Models
@model TaxCalcFormModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="whole-page">
        <partial name="_TaxCalcForm" model="Model"/>
    </div>
</div>
